@keyframes packagesDance {
    0%{
        transform: translate3d(0, 0, 0);
    }
    35%{
        transform: translate3d(0, -8px, 0);
    }
    70%{
        transform: translate3d(0, 5px, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
